* {
  box-sizing: border-box;
}
.notfound-bg {
  background-color: #181818;
  background-size: cover;
  height: 100vh;
}
@media (min-width: 768px) {
  .notfound-bg {
    display: flex;
  }
}

.notfound-container {
  height: 90vh;
  width: 100%;
  background-color: transparent;
  margin: auto;
}
@media (min-width: 768px) {
  .notfound-container {
    height: 100vh;
  }
}

.notfound-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 96px;
}
@media (min-width: 768px) {
  .notfound-card {
    width: 50%;
    margin-top: 46%;
  }
}
.notfound-img {
  width: 90%;
}

.notfound-msg {
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}
.responsive-nav {
  display: block;
}
