.editors-pick-container {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto';
  background-color: #181818;
  box-sizing: border-box;
  padding: 13px 3px;
}

.editors-pick-title {
  font-size: 15px;
  color: #ffffff;
  margin: 7px;
}

.editors-pick-list {
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5px;
}
