.genre-item-details-page {
  min-height: 100vh;
  width: 100%;
  background-color: #181818;
  font-family: 'Roboto';
}
@media (min-width: 768px) {
  .genre-item-details-page {
    display: flex;
  }
}
.hide-nav {
  display: none;
}
@media (min-width: 768px) {
  .hide-nav {
    display: block;
  }
}
.genre-details {
  width: 100%;
  padding: 0;
}
.responsive-genre-details-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.genre-item-details-title {
  color: #ffffff;
  margin: 5px;
}

.genre-details-list {
  width: 100%;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
